<div *ngIf="auth.user | async; then authenticated else guest"></div>
<ng-template #guest>
  <p>Please login to get started</p>
  <button (click)="auth.googleLogin()" class="login-btn">
    <img src="/assets/btn_google_dark.svg">
    Sign in with Google
  </button>
</ng-template>

<ng-template #authenticated>
  <div class="container">
    <table class="suggestions">
      <thead>
        <tr>
          <th style="width:77%">Suggestion</th>
          <th>Likes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let suggestion of suggestionsList | async">
          <td>{{ suggestion.data.title }}</td>
          <td (click)="toggleLike(suggestion)" class="like-btn">{{ suggestion.data.likes }} <img *ngIf="suggestion.data.liked" src="/assets/like.svg" alt="like icon"></td>
        </tr>
      </tbody>
    </table>
    <form>
      <input 
        [(ngModel)]="newSuggestion"
        name="userSuggestion"
        type="text" 
        placeholder="Add new suggestion">
      <button (click)="addSuggestion()" type="submit" class="btn">Add</button>
    </form>
  </div>
  <button (click)="auth.signOut()" class="signout-btn">Sign Out</button>
</ng-template>