<div class="container">
  <table class="suggestions">
    <tr>
      <th>Suggestions</th>
      <th>Likes</th>
    </tr>
    <tr *ngFor="let suggestion of suggestionsList">
      <td>{{ suggestion.title }}</td>
      <td><button>{{ suggestion.likes }}</button></td>
    </tr>
  </table>
  <div>
    <input 
      #newSuggestion
      (keyup.enter)="addSuggestion(newSuggestion.value)" 
      type="text" 
      placeholder="Add new suggestion">
    <button (click)="addSuggestion(newSuggestion.value)" type="submit">Add</button>
  </div>
</div>