<div class="container">
  <table class="suggestions">
    <thead>
      <tr>
        <th style="width:77%">Suggestion</th>
        <th>Likes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let suggestion of suggestionsList; let i = index">
        <td>{{ suggestion.title }}</td>
        <td (click)="toggleLike(i)" class="like-btn">{{ suggestion.likes }} <img *ngIf="suggestion.getLikeStatus()" src="assets/like.svg" alt="like icon"></td>
      </tr>
    </tbody>
  </table>
  <form>
    <input 
      #newSuggestion
      (keyup.enter)="addSuggestion(newSuggestion.value)" 
      type="text" 
      placeholder="Add new suggestion">
    <input (click)="addSuggestion(newSuggestion.value)" type="submit" value="Add">
  </form>
</div>